# See http://help.github.com/ignore-files/ for more about ignoring files.

# do not commit vscode local config
.vscode/*
.devcontainer/*
.kube/*
.ssh/*
.helm/*

# do not commit compressed charts or locks
**/*.tgz
**/*Chart.lock
